.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.claude/

.workflows/*.md

node_modules/
.env*

.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

*.log
.eslintcache
.vercel